aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/*
missing
test-driver
.deps/
.libs/
Makefile
Makefile.in
config.h
config.log
config.status
dsock.pc
libtool
*.o
*.lo
dns/.dirstamp
libdsock.la
test-suite.log
tests/.dirstamp
tests/*.log
tests/*.trs
tests/tcp
tests/udp
tests/unix
tests/pfx
tests/crlf
