aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/*
missing
test-driver
.deps/
.libs/
Makefile
Makefile.in
config.h
config.log
config.status
dillsocks.pc
libtool
*.o
*.lo
dns/.dirstamp
libdillsocks.la
test-suite.log
tests/.dirstamp
tests/*.log
tests/*.trs
tests/helpers
tests/tcp
